.btn-primary{ color: #fff; background-color: #007bff; border: 1px solid #007bff; };
.btn-secondary{ color:#fff; background-color: #6c757d; border: 1px solid #6c757d; };
.btn-success{ color:#fff; background-color: #28a745; border: 1px solid #28a745; };
.btn-danger{ color: #fff; background-color: #dc3545; border: 1px solid #dc3545; };
.btn-warning{ color: #222; background-color: #ffc107; border: 1px solid #ffc107; };
.btn-info{ color: #fff; background-color: #17a2b8; border: 1px solid #17a2b8; };
.btn-light{ color: #333; background-color: #f8f9fa; border: 1px solid #f8f9fa; };
.btn-dark{ color: #fff; background-color: #343a40; border: 1px solid #343a40; };
.btn-link{ color:#007bff; background-color: #fff; border: 1px solid  #fff; };

.btn-outline-primary{ color: #007bff; background-color: #fff; border: 1px solid #007bff; };
.btn-outline-secondary{ color:#6c757d; background-color: #fff; border: 1px solid #6c757d; };
.btn-outline-success{ color:#28a745; background-color: #fff; border: 1px solid #28a745; };
.btn-outline-danger{ color: #dc3545; background-color: #fff; border: 1px solid #dc3545; };
.btn-outline-warning{ color: #ffc107; background-color: #fff; border: 1px solid #ffc107; };
.btn-outline-info{ color: #17a2b8; background-color: #fff; border: 1px solid #17a2b8; };
.btn-outline-light{ color: #f8f9fa; background-color: #fff; border: 1px solid #f8f9fa; };
.btn-outline-dark{ color: #343a40; background-color: #fff; border: 1px solid #343a40; };

.button {
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    box-sizing: border-box;
    margin: 5px 10px;
    height: 40px;
    width: 100px;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
}