.item:link{
    text-decoration: none;
    color: #0581F9;
}
.item:hover{
    text-decoration: underline;
    color: #0050FF;
}
.item, .spliter {
    color: #aaa;
}
.new-list{
    padding: 10px;
    background-color: #E9ECEF;
}