.scroll {
    position: relative;
    width: 90%;
    background-color: cyan;
    height: 24px;
    border-radius: 55px;
    margin: 0 auto;
    overflow: hidden;
}
.scroll-filled {
    background-color: blue;
    height: 24px;
}